body {
  background-color: rgb(231, 231, 231);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
footer .grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}
hr {
  opacity: 0;
}
section {
  margin: 0 auto;
  padding: 20px 0;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../img/photo-1513635269975-59663e0ac1ad.avif");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 200px 0;
}
header h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 1.5;
  text-align: left;
  margin-left: 130px;
}
header p {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  text-align: left;
  font-size: 16px;
  margin-left: 130px;
  letter-spacing: 2px;
}
footer {
  color: #fff;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("/TravelProject/img/footer.avif");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
}

footer h3 {
  font-family: "Libre Baskerville", serif;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  opacity: 0.7;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
}
footer a {
  color: #fff;
  text-decoration: none;
  opacity: 0.7;
}
footer a:hover {
  cursor: pointer;
  color: #006dfe;
  text-decoration: underline;
  opacity: 0.7;
}
@media (max-width: 768px) {
  header h1 {
    font-size: 45px;
    text-align: center;
    margin: 0 0 50px 0;
    line-height: 1;
  }
  header p {
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
    line-height: 1;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
.section-1,
.section-2 {
  background-color: #fff;
}
main div {
  border-radius: 2px;
}
main h2,
h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  opacity: 0.8;
  padding: 20px 20px;
}
.grid-2-columns {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.grid-3-columns {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}
img.inspo {
  border-radius: 2px;
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
  margin: 0 auto;
  transition: all 150ms ease-in-out;
}
img.inspo:hover {
  transform: scale(1.1);
}

.history {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.history img {
  border-radius: 2px;
  display: flex;
  width: 90%;
  height: 90%;
  object-fit: cover;
  padding: 0;
  margin: 0 auto;
}
.history p {
  font-family: "Quicksand", sans-serif;
}
section.food {
  background-color: rgb(231, 231, 231);
  font-family: "Quicksand", sans-serif;
}
.text-center {
  text-align: center;
}
.grid-4-columns {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}
.card {
  background: #fff;
  margin: 30px 0;
  border-radius: 2px;
  transition: all 150ms ease-in-out;
}
.card:hover {
  transform: scale(1.2);
}
.card h4 {
  margin-top: -15px;
}
.card p {
  opacity: 0.7;
  padding: 10px;
  margin: 0;
  margin-bottom: 20px;
}
.card-body {
  padding: 30px;
}
.card-footer {
  padding: 0 30px 30px;
}
.img-responsive {
  max-width: 90%;
  margin: 0 auto;
  display: block;
}
.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 14px;
  background-color: #462cb3;
  text-decoration: none;
}
